@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "MyProfile";
}

<div class="card-header"><h4>Profile-Information</h4></div>
<div class="row">
    <div class="col-md-4">
      <h1 class="text-uppercase" style="color: indianred">Coming Soon!!!</h1>
    </div>
</div>